* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif; }

/*
  CONTAINER
  */
.container {
  max-width: 120rem;
  margin: 0 auto;
  font-size: 1.6rem; }

.cart--items {
  height: 1.6rem;
  width: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff7d1a;
  color: #fff;
  position: absolute;
  top: -30%;
  right: -30%; }

.btn-next,
.btn-prev {
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer; }

.btn-next {
  top: 40%;
  left: 96%; }

.btn-prev {
  top: 40%;
  right: 96%; }

.header {
  display: flex;
  padding: 8rem 10rem;
  gap: 12rem;
  align-items: start;
  justify-content: center; }
  .header__main-img {
    width: 40rem;
    border-radius: 15px;
    cursor: pointer; }
  .header__thumbnail-images {
    display: flex;
    gap: 2.5rem; }
  .header__thumbnail-img {
    width: 8rem;
    margin-top: 3rem;
    border-radius: 10px;
    cursor: pointer; }
  .header__thumbnail-img:hover {
    filter: opacity(0.4); }
  .header__thumbnail-img:focus {
    outline: 3px solid #ff7d1a;
    filter: opacity(0.4); }
  .header__text {
    display: flex;
    flex-direction: column;
    margin-top: 5rem; }
  .header__description {
    font-size: 1.6rem;
    color: #b6bcc8;
    margin-bottom: 3rem; }
  .header__main-price {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem; }
  .header__price {
    font-size: 3.2rem;
    font-weight: 600; }
  .header__discount {
    background-color: #ffede0;
    color: #ff7d1a;
    font-weight: 600;
    padding: 0.4rem;
    border-radius: 5px; }
  .header__cutted-price {
    text-decoration: line-through;
    color: #b6bcc8;
    font-weight: 600;
    margin-bottom: 3rem; }
  .header__button {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .header__quantity {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px; }
    .header__quantity::before {
      content: "-";
      font-size: 2rem;
      font-weight: 600;
      height: 100%;
      width: 100%;
      padding: 1rem 2rem;
      color: #ff7d1a;
      cursor: pointer; }
    .header__quantity::after {
      content: "+";
      font-size: 2rem;
      font-weight: 600;
      height: 100%;
      width: 100%;
      padding: 1rem 2rem;
      color: #ff7d1a;
      cursor: pointer; }
    .header__quantity span {
      padding: 1rem 2rem;
      color: #b6bcc8;
      font-weight: 600; }
  .header__btn {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    border: none;
    background-color: #ff7d1a;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0 2rem 4rem rgba(206, 135, 81, 0.8);
    cursor: pointer; }
    .header__btn svg {
      margin-right: 1rem; }

.image--selected {
  filter: brightness(1);
  outline: 3px solid #ff7d1a; }

.lightbox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.2s; }
  .lightbox:target {
    opacity: 1;
    visibility: visible; }
  .lightbox:target .lightbox__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .lightbox__close {
    position: absolute;
    top: -5%;
    right: 0;
    fill: #fff;
    cursor: pointer;
    transition: all 0.2s; }
  .lightbox__close:hover {
    fill: #ff7d1a; }
  .lightbox__content {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .lightbox__img-1 {
    width: 100%;
    border-radius: 15px; }
  .lightbox__thumbnail {
    display: flex;
    gap: 5rem; }
    .lightbox__thumbnail-img {
      width: 8rem;
      border-radius: 10px; }

.navbar {
  display: flex;
  align-items: center;
  gap: 5rem;
  height: 10rem;
  position: relative;
  border-bottom: 1px solid #bfbfc6; }
  .navbar__list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: #888993;
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 3.8rem; }
  .navbar__link:hover, .navbar__link:active {
    color: #000;
    border-bottom: 3px solid #ff7d1a; }
  .navbar__logo {
    margin-left: auto;
    position: relative;
    cursor: pointer; }
  .navbar__logo:hover .cart {
    transform: scaleY(1); }
  .navbar__img {
    height: 4.5rem;
    width: 4.5rem;
    cursor: pointer; }

.cart {
  position: absolute;
  top: 200%;
  left: -10rem;
  width: 30rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s;
  transform-origin: top;
  transform: scaleY(0); }
  .cart__text {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 2rem 3rem;
    border-bottom: 1px solid #e8e8ee; }
  .cart__content {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center; }

.heading-primary {
  font-size: 3rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #ff7d1a; }

.heading-main {
  font-size: 5rem;
  margin-bottom: 3rem; }
